---
import { Image } from "astro:assets";
import omos1 from "../assets/images/omos1.png";
import landingslide from "../assets/images/landingslide.png";
import julekugler from "../assets/images/julekugler.svg";
---

<article>
  <section class="grid-container baggrund">
    <div class="header">
      <h2>Vidste du at...?</h2>
    </div>
    <div class="baggrund1">
      <Image class="omos" src={omos1} alt="header" />
      <p>Danskere bruger 825 ton gavepapir hver evig eneste jul</p>
    </div>
    <div class="baggrund1">
      <Image class="omos" src={omos1} alt="header" />
      <p>Julegaver købt i en netbutik udenfor EU kan nemlig indeholde skadelige kemikalier</p>
    </div>
    <div class="baggrund1">
      <Image class="omos" src={omos1} alt="header" />
      <p>Et økologisk, ikke-gødet rødgran-juletræ, der er produceret lokalt, er det bedste</p>
    </div>
    <div class="baggrund1">
      <Image class="omos" src={omos1} alt="header" />
      <p>95% af alle julesweatre indeholder plastik, og 40% bruges kun én gang</p>
    </div>
  </section>

  <section class="stoette">
    <div>
      <h2>Hvad støtter du blandt andet til med din julegave</h2>
      <h3>Langt størstedelen af din støtte går til hav- og miljøindsatse</h3>
    </div>
    <p class="tekst">Først og fremmest støtter du op om vores initiativer inden for hav- og miljøindsatser. Dette indebærer konkrete handlinger for at reducere plastikforurening, både lokalt i Danmark og på internationalt plan. Vi oplyser, deler viden og arrangerer events, undervisning og foredrag for at mobilisere og engagere en voksende Plastic Changer-bevægelse. Denne bevægelse er allerede i gang og arbejder aktivt for at skabe positive forandringer.</p>
  </section>
  <section>
    <h3>Din støtte går også til gennemførelsen af årlig oprydning.</h3>
    <p class="tekst">For det andet støtter du vores lederskab i gennemførelsen af årlige oprydninger i naturen. Dette sker i samarbejde med andre organisationer fra hele verden. Din støtte bidrager dermed til konkrete handlinger, der hjælper med at bevare og beskytte vores naturområder.</p>
  </section>
  <section>
    <h3>Din støtte går også til at lægge politisk pres.</h3>
    <p class="tekst">En del af din støtte går også til at lægge politisk pres for bedre miljølovgivning, der værner om kloden og dens ressourcer.</p>
  </section>
  <section>
    <h3>
      Din støtte går til fundraising, indsamlinger samt <br /> et lillebidrag til at plastic change har et sted at bo.
    </h3>
    <p class="tekst">En mindre del går til fundraising og indsamlinger, så Plastic Changer bevægelsen kan blive ved med at vokse. Og så går en lille del til administration, og til at give Plastic Change et sted at bo.</p>
  </section>
  <div class="julekugler">
    <Image class="julekugler" src={julekugler} alt="julekugler" />
  </div>

  <section class="flex baggrund">
    <Image class="landingslide" src={landingslide} alt="landingslide" />
    <Image class="landingslide" src={landingslide} alt="landingslide" />
    <Image class="landingslide" src={landingslide} alt="landingslide" />
  </section>
</article>

<style>
  @media (min-width: 900px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
    }

    .header {
      grid-column: span 4;
    }
    .baggrund {
      background-color: #f5eaec;
    }
    h2 {
      text-align: center;
    }
    /* h3 {
      text-align: center;
    } */
    .tekst,
    h3 {
      text-align: left;
      width: 500px;
      margin-left: 330px;
    }

    /* .stoette {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    } */
    .julekugler {
      grid-column: 1fr;
    } */
  }

  @media (max-width: 500px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Opretter to kolonner med lige bredde */
      grid-gap: 20px; /* Afstand mellem gitterelementerne */
    }
    .header {
      grid-column: span 2; /* Overskriften strækker sig over begge kolonner */
      background-color: /* Din baggrundsfarve */ ;
      /* Andre baggrundsstilarter kan tilføjes her */
    }

    .omos {
      width: 130px;
      height: auto;
    }
    .baggrund {
      background-color: #f5eaec;
      padding: 50px;
    }
    .baggrund1 {
      background-color: white;
    }
    h2 {
      text-align: center;
    }
    .flex {
      display: flex;
    }
    .landingslide {
      width: 100px;
      height: 100px;
    }
    .baggrund {
      background-color: #f5eaec;
    }
  }
</style>
