---
import SlideshowCard from "./SlideshowCard.astro";
import { Image } from "astro:assets";
import pic1 from "../assets/images/pic1.png";
import pic2 from "../assets/images/pic2.png";
---

<div class="slideshow">
  <SlideshowCard class="card" data-target="card" text="Karsten har støttet change plastic med en julegave ">
    <Image class="pic1" src={pic1} alt="pic1" />
  </SlideshowCard>
  <SlideshowCard class="card" data-target="card" text="Karsten har støttet change plastic med en julegave ">
    <Image class="pic2" src={pic2} alt="pic1" />
  </SlideshowCard>
  <SlideshowCard class="card" data-target="card" text="Karsten har støttet change plastic med en julegave ">
    <Image class="pic1" src={pic1} alt="pic1" />
  </SlideshowCard>
  <SlideshowCard class="card" data-target="card" text="Karsten har støttet change plastic med en julegave ">
    <Image class="pic1" src={pic1} alt="pic1" />
  </SlideshowCard>
  <SlideshowCard class="card" data-target="card" text="Karsten har støttet change plastic med en julegave ">
    <Image class="pic2" src={pic2} alt="pic1" />
  </SlideshowCard>
  <SlideshowCard class="card" data-target="card" text="Karsten har støttet change plastic med en julegave ">
    <Image class="pic1" src={pic1} alt="pic1" />
  </SlideshowCard>
</div>
<style>
  .slideshow {
    background-color: var(--color-red-100);
    display: flex;
    gap: var(--spacing-16);
  }
  .pic1,
  .pic2 {
    border-top-right-radius: var(--spacing-16);
    border-top-left-radius: var(--spacing-16);
  }
</style>
